{% load static %}
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-6 text-center">
        <p class="text-muted"> Developed with ❤️ by <b> Raj Goyanka</b> </p>
      </div>
      <div class="col-md-6 text-md-center text-center">
        <span class="px-2"> Indore, Madhya Pradesh </span>
      </div>
      <!-- <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div> -->
    </section>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function () {

    $('.thumb a').click(function (e) {
      e.preventDefault();
      $('.mainImage img').attr('src', $(this).attr('href'));

    })
  })


</script>


</body>

</html>